body {
    background-color: bisque;
}
.container {
    display: flex;
    border: 1px black solid;
    position: justify;
    align-items: center;
}

.image {
    float: right;
    padding-left: 60px;
}

.text {
    text-align: center;
}

/* About.html Styling */
.about-activity {
    display: flex;
    position: justify;
}

.about-image {
    float: right;
}

/* Portfolio Styling */
.port-container {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}


.mini-cointainer {
    display: flex;
}