.container {
    display: flex;
    border: 1px black solid;
    position: justify;
    align-items: center;
}

.image {
    float: right;
    padding-left: 60px;
}

.text {
    text-align: center;
}
